body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    width: 700px;
    margin: 20px auto;
    background-color: #fff;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-area, .cart-area {
    display: inline-block;
    width: 30px;
    vertical-align: top;
}

.input-area {
    margin-right: 2%;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#checkout {
    background-color: #007bff;
}

button:hover {
    background-color: #218838;
}

.cart-area {
    padding-left: 20px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.cart-item-buttons {
    display: flex;
}

.cart-item-buttons button {
    margin-left: 5px;
}

#total-price {
    font-weight: bold;
    color: #333;
}
.left-panel{
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
label {
    margin-left: 20px;
    margin-top: 15px;
}
#add-to-cart{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 310px;
}
.right-panel{
    width: 350px;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#checkout{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 310px;
    margin-right: 15px;
}
#item-name, #item-price, #item-quantity{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;

}h2{
    text-align: center;
}h3{
    margin-left: 20px;
}
